<div class="container">
  <br>
  <div class="d-flex justify-content-center">
    <h1><strong>マイページ</strong></h1>
  </div>
  <br>
  <%= render "mypage_prof", customer: @customer %>
</div>
<%= render "mypage_list", cooks: @cooks %>