<div class="container">
  <br>
  <div class="d-flex justify-content-center">
    <h1><strong>ユーザーページ</strong></h1>
  </div>
  <br>
  <%= render "show_prof", customer: @customer %>
</div>
<%= render "show_list", cooks: @cooks %>