<div class="container">
  <br>
  <div class="d-flex justify-content-center">
    <h1><strong>本当に退会しますか？</strong></h1>
  </div>
  <br>
  <div class="row justify-content-center"><h4><strong>退会すると、ブックマークした料理や</strong></h4></div>
  <div class="row justify-content-center"><h4><strong>これまでの投稿が閲覧できなくなります。</strong></h4></div>
  <div class="row justify-content-center"><h4><strong>退会する場合は、「退会する」をクリックしてください。</strong></h4></div>
  <br>
  <div class="row justify-content-center">
    <%= link_to '退会しない', public_my_page_path(current_customer), class: "btn btn-lg btn-primary" %>
  &nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to '退会する', public_withdraw_path, method: :patch, class: "btn btn-lg btn-danger" %>
  </div>
</div>
<br>