// Place all the styles related to the public/cooks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.flex-box {
  display: flex;
  flex-wrap: wrap;
  padding:  20px;
  border-radius: 30px;
}

.thumnail-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

.icon{
  width: 250px;
  height: 250px;
}
.tagname {
  background-color: #0099FF;
  width: 90px;
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 20px;
  padding-top: 2px;
  color: white;
  text-align: center;
}

.rowtag {
  display: flex;
  flex-wrap: wrap;
}

.recipe {
  display: block;
  margin-left: 16%;
  margin-right: 6%;
}