<div class="swiper">
  <div class="swiper-wrapper">
    <% rank.each.with_index(1) do |rank, i| %>
      <div class="swiper-slide">
        <%#= link_to public_cook_path(cook) do %>
          <% if rank.image.attached? %>
            <%= image_tag rank.image, size: "250x250" %>
          <% else %>
            <%= image_tag "noimageフォト", size: "250x250" %>
          <% end %>
        <%# end %>
      </div>
    <% end %>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
  <!-- Add Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
