<div class="container">
  <div class="row">
    <div class="col-lg-10">
      <div class="text-center m-5">
        <div class="mv-text">
          <h1>余り物Cookとは</h1>
          <br>
          <p>
            ここでは余り物の食材を使った簡単な料理のレシピをお探しできます。<br>
            会員でない方も料理を調べることができますが、<br>
            ブックマークや、メモ機能を使うには登録をする必要があります。<br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>