<h1>余り物Cook</h1>

<p>このサイトは、余り物の食材で料理ができるレシピをお探しできます。</p>
<br>
<p>会員でない方も料理を調べることができますが、</p>
<br>
<p>ブックマークや、メモ機能を使うには登録をする必要があります。</p>

<%= link_to "料理投稿", new_public_cook_path %>
<br>
<%= link_to "一覧ページ", public_cooks_path %>