<div class="container">
  <br>
  <div class="d-flex justify-content-center">
    <h1><strong>ユーザー一覧</strong></h1>
  </div>
  <br>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>ユーザー名</th>
        <th>メールアドレス</th>
        <th></th>
        <th>会員ステータス</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.email %></td>
        <td>
          <% if customer.is_deleted? %>
            <th>退会</th>
          <% else %>
            <th>有効</th>
          <% end %>
        </td>
        <td>
          <%= link_to '詳細', admin_customer_path(customer.id) %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>