<div class="container">
  <br>
  <div class="d-flex justify-content-center">
    <h1><strong>レビュー一覧</strong></h1>
  </div>
  <br>
    <div class="row">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>記入者</th>
            <th>コメント</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @reviews.each do |r| %>
          <tr>
            <td><%= r.customer.name %></td>
            <td>
                <%= r.content %>
            </td>
            <td>
              <%= button_to '削除', admin_review_path(r.id), method: :delete, class: "btn btn-danger btn-sm" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>