<div class="container">
  <br>
  <div class="d-flex justify-content-center">
    <h1><strong>レビュー一覧</strong></h1>
  </div>
  <br>
  <% if @reviews.empty? %>
    <div calss="row">
      <div>レビューがありません。</div>
    </div>
  <% else %>
    <div class="row">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>記入者</th>
            <th>評価</th>
            <th>コメント</th>
          </tr>
        </thead>
    </div>
    <div class="row">
        <tbody>
          <tr>
            <% @reviews.each do |r| %>
            <td>
              <%= r.customer.name %>
            </td>
            <td>
              <%= r.score %>
            </td>
            <td>
              <%= r.content %>
            </td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  <% end %>
  <div class="d-flex justify-content-end">
    <%= link_to "詳細へ戻る", public_cook_path(@cook), class: "button light ml-3 mt-3" %>
  </div>
</div>