<div class="container">
  <div class="d-flex justify-content-center">
    <div class="row mt-3">
      <h1><strong>タイムライン</strong></h1>
    </div>
  </div>
</div>
<%= render "public/cooks/list", cooks: @cooks %>